body {
  font-family: 'Arial';
}

h2.title {
  margin-bottom: 0;
  margin-left: 16px;
}

.responsive {
  width: 100%;
}

.content {
  max-width: 1024px;
  padding: 16px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}

.agenda {
  list-style: none;
  margin-top: 36px;
}

.agenda:first-child {
  margin-top: 0;
}

.agenda li {
  margin-top: 10px;
}

.agenda-time {
  font-weight: bold;
}

.agenda-speaker {
  font-style: italic;
}

.agenda-title {
  color: #4da6ff;
}

.buy {
  height: 40px;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60);
}