<ul class='menu'>
  <li>{{#link-to 'home'}} Home {{/link-to}} </li>
  <li>{{#link-to 'agenda'}} Agenda {{/link-to}}</li>
  <li>{{#link-to 'speakers'}} Speakers {{/link-to}}</li>
  <li>{{#link-to 'tickets'}} Tickets {{/link-to}}</li>
</ul>
<h1 class='header'>Front End Framework Conference</h1>

{{outlet}}