<h2 class="title">Home</h2>
<div class='content'>
  <p>
    Ember.js is an open-source JavaScript web framework, based on the Model–view–view model (MVVM) pattern. <br />
    It allows developers to create scalable single-page web applications by incorporating common idioms and best practices into the framework.
  </p>
</div>